*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
.container{
  width: 100%;
  height: 100vh;
  background-color: rgb(6, 6, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  background-color: rgb(48, 45, 45);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.box .display input{
  width: 270px ;
  box-shadow: none;
  text-align: right;
  border: 1px solid white;
  margin: 15px;
  padding: 5px;
}
.box input.text{

}
.box form input{
  width: 60px;
  height: 60px;
  border-radius: 8px;
  font-size: 28px;
  color: white;
  background: rgb(48, 45, 45);
  border: none;
  outline: none;
  margin: 6px;
  box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.1) , -4px -4px 15px  rgb(255, 255, 255 , 0.2);
}
.box .equal{
  width: 140px;
}
.box .operator{
  color: green;
}